= form_for @assignment do |f|
  - if @assignment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@assignment.errors.count, "error")} prohibited this assignment from being saved:"
      %ul
        - @assignment.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :member_id
    = f.number_field :member_id
  .field
    = f.label :committee_id
    = f.number_field :committee_id
  .actions
    = f.submit 'Save'
